*{
    box-sizing:border-box;
  }
  
  body{
    margin:0;
    height:100vh;
    font-family: "Segoe UI", sans-serif;
  
    background: linear-gradient(135deg,#1e1b4b,#6d28d9,#a78bfa);
  
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .container{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .game{
  
    backdrop-filter: blur(15px);
  
    background: rgba(255,255,255,0.1);
  
    border:1px solid rgba(255,255,255,0.2);
  
    padding:40px;
  
    border-radius:20px;
  
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
  
    text-align:center;
  
    color:white;
  }
  
  .title{
    margin-bottom:25px;
    font-size:32px;
  }
  
  .board{
  
    display:grid;
  
    grid-template-columns:repeat(3,110px);
  
    gap:15px;
  
    margin-bottom:20px;
  }
  
  .cell{
  
    width:110px;
  
    height:110px;
  
    font-size:38px;
  
    font-weight:bold;
  
    border:none;
  
    border-radius:15px;
  
    background: rgba(255,255,255,0.15);
  
    color:white;
  
    cursor:pointer;
  
    transition: all 0.25s ease;
  
    backdrop-filter: blur(5px);
  }
  
  .cell:hover{
  
    transform: scale(1.1);
  
    background: rgba(255,255,255,0.35);
  
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
  
  }
  
  .status{
  
    margin:15px 0;
  
    font-size:18px;
  }
  
  .restart{
  
    padding:12px 25px;
  
    border:none;
  
    border-radius:12px;
  
    background: linear-gradient(45deg,#7c3aed,#a855f7);
  
    color:white;
  
    font-size:16px;
  
    cursor:pointer;
  
    transition:0.25s;
  }
  
  .restart:hover{
  
    transform: translateY(-3px);
  
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
  
  }